#infoPanel {
}

#infoPanel {
    height: 300px;
    width: 25%;
}

.hintsList {
    margin: 5px;
    padding: 5px;
    background: #fafafa;
    box-shadow: 0 0 5px #999 inset ;
    height: 256px;
}

.hintsList li {
    background: #ffffff;
    color: #0055aa;
    line-height: 24px;
    margin-bottom: 6px;
    box-shadow: 0 0 3px #aaa;
}

.hintsList li .title {
    padding: 5px;
}

.hintsList li:not(:last-child) {
    border-bottom: none;
}

.hintsList li .index {
    display: inline-block;
    padding: 0 5px;
    height: 100%;
    background: #CBE5FF;
    color: #865B00;
}

