.panel {
    vertical-align: top;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 100%;
    margin: 5px;
    position: relative;
}

.panel h3 {
    color: #333;
    font-size: 24px;
    font-weight: normal;
    margin: 5px 20px;
    padding: 0 5px;
    border-bottom: 1px solid #aaa;
}